

$font-One    : 'Lato', sans-serif;

$font-Two    : 'Roboto Slab', serif;




$theme-color      : #54be73;

$theme-color-2    : #36afe8;

$theme-color-3    : #DE2A1C;


$link-color       : #54be73;

$link-color-2     : #36afe8;

$link-color-3     : #f41784;



$white            : #FFFFFF;
$black            : #000000;







